@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

@font-face {
  font-family: "Daikon Black";
  src: url(./assets/fonts/Daikon/Daikon-Black.ttf);
}

@font-face {
  font-family: "Daikon Bold";
  src: url(./assets/fonts/Daikon/Daikon-Bold.ttf);
}

@font-face {
  font-family: "Daikon SemiBold";
  src: url(./assets/fonts/Daikon/Daikon-SemiBold.ttf);
}

@font-face {
  font-family: "Daikon Medium";
  src: url(./assets/fonts/Daikon/Daikon-Medium.ttf);
}

@font-face {
  font-family: "Daikon Light";
  src: url(./assets/fonts/Daikon/Daikon-Light.ttf);
}

:root {
  font-family: "Daikon Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-1: #8448fd;
  --color-2: #111111;
  --color-3: #ffffff;
  --color-4: #2b2a2a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.2em;
  font-family: "Daikon Black";
  font-weight: 800;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

[data-theme="dark"] {
  color: #666666;

  --color-1: #d58bdd;
  --color-2: #ffffff;
  --color-3: #ffffff;
  --color-4: #e7e7e7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --color-1: #6f1ab6;
    --color-2: #111111;
    --color-3: #ffffff;
    --color-4: #2b2a2a;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
